
.unique-nav {
    background-color: #333;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


.unique-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


.unique-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.unique-link:hover {
    color: #ff9900; 
}
