.patient-portal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.patient-welcome {
    margin-bottom: 20px;
}

.appointments-container,
.doctors-container,
.add-appointment-container {
    margin-bottom: 30px;
}

.doctor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.add-appointment-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.add-appointment-button:hover {
    background-color: #45a049;
}

.selected-doctor-input,
.date-picker,
.time-picker,
.submit-button,
.add-appointment-container select {
    margin-bottom: 15px;
    padding: 8px;
}

.date-picker,
.time-picker {
    width: calc(50% - 10px);
}

.time-picker {
    margin-left: 10px;
}

.submit-button {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #005684;
}

  .edit-form button {
    margin-left: 50px;
  }


